.delete-button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e62222;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  transition: 200ms;
  position: relative;
  overflow: hidden;
}

.delete-button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
  transition: 200ms;
}

.delete-button .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #c41b1b;
  background: transparent;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
}

.delete-button svg {
  width: 15px;
  fill: #eee;
  transition: 200ms;
}

.delete-button:hover {
  background: #ff3636;
}

.delete-button:hover .text {
  color: transparent;
}

.delete-button:hover .icon {
  width: 150px;
  border-left: none;
  right: 0;
  left: 0;
  transform: translateX(0);
}

.delete-button:active .icon svg {
  transform: scale(0.8);
}
